div{
  text-align : center;
  margin:0px;
  font-family:Microsoft JhengHei;
}
h1{
	text-align: center;
  margin-top: 0px;
   color: #FDE660;
  font-family:Microsoft JhengHei;
}
h2{

  color :#FFF;
  font-family:Microsoft JhengHei;
}
.main
{
  background: url('img/bg1.png') no-repeat center;
  background-size: 100%;
  
}
.title
{
  
  padding: 40px;
  color: #EA2;
}
.description
{
  padding: 30px;
}
.img-wrapper
{

  background : url('img/badge.png') no-repeat center;
  background-size: 100%;
  height : 100px;
  
    
  
    vertical-align : middle;
  /* Firefox, Chrome */
  line-height : 100px;
    
  /* IE */

}
img{
	width: 120px;
	vertical-align : middle;
}

.border{
	border-radius: 25px;
    border: 2px solid #8AC007;
}
.canvas-border
{
	width: 800;
	height: 400;
  border-width: 1px;
  border-style: solid;
}


.col-md-2 canvas{
	
	width: 200px;
	height: 120px;
}
